body {
    margin: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: azure

}


#menu {
    text-align: left;
    display:inline-block;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tr {
    font-size: large;

}


#header {
    background-color: indianred;
    margin-right: auto;
    margin-left: auto;
    font-size: medium;
    font-family: monospace;

}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}
h1 {
    text-align: left;
}

p {
    text-align: center;
    font-size: 20px;
}

footer {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

h4 {
    background-color: indianred;
    text-align: center;
    font-size: x-large;

}

footer {
    text-align: left;
    font-size: large;
}

#contactos {
    text-align: left;
    font-weight: bolder;
}

thead {
    text-align: center;
}

ul {
    font-size: large;
}

#mifoto {
    align-items: center;
}